.list-ele {
  list-style-type: none;
  border: 1px #b5b7c4;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  height: 70px;
  width: 228px;
  margin-left: -10px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.title {
  font-size: smaller;
  margin-top: 1px;
}
.title-star {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 20px;
}
.star {
  height: 15px;
}
.date {
  font-size: small;
  color: grey;
}
.star-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
